/* This is an additional stylesheet for WildKnitter site*/

/* Stylesheet code from the Bootstrap Jumbotron template */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Color and bottom padding change for the Jumbotron section */

.jumbotron {
  padding: 2rem 1rem 1rem;
  margin-bottom: 2rem;
  background-color: #DCD0E5;
  border-radius: 0.3rem;
}

/* Formatting for the Header */

header {
  text-align: center;
}

body {
  background-color: lavender;
  height: 100%;
  background-image: radial-gradient(white, lavender, #DCD0E5);
}

/* Formatting for the Footer */

footer {
  clear: left;
  border-top: thin solid purple;
  text-align: right;
}

/* Fix links so that they are underlined when one hovers over them */

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
}

/* Extra-Small devices (landscape phones, 576px and down) */

@media (max-width: 576px) {
  #imgknittedgloves {
    background-image: url("../img/knittedgloves_tiny.jpg");
    width: 100px;
    height: 100px;
    /* background-color: yellow; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
  #imgredcabledscarf {
    background-image: url("../img/redcabledscarf_tiny.jpg");
    width: 100px;
    height: 100px;
    /* background-color: yellow; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
  #imglogcabin {
    background-image: url("../img/logcabin_tiny.jpg");
    width: 60px;
    height: 60px;
    /* background-color: yellow; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  #imgknittedgloves {
    background-image: url("../img/knittedgloves_small.jpg");
    width: 200px;
    height: 200px;
    /* background-color: orange; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
  #imgredcabledscarf {
    background-image: url("../img/redcabledscarf_small.jpg");
    width: 200px;
    height: 200px;
    /* background-color: orange; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
  #imglogcabin {
    background-image: url("../img/logcabin_small.jpg");
    width: 100px;
    height: 100px;
    /* background-color: orange; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  #imgknittedgloves {
    background-image: url("../img/knittedgloves_small.jpg");
    width: 200px;
    height: 200px;
    /* background-color: blue; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
  #imgredcabledscarf {
    background-image: url("../img/redcabledscarf_small.jpg");
    width: 200px;
    height: 200px;
    /* background-color: blue; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
  #imglogcabin {
    background-image: url("../img/logcabin_large.jpg");
    width: 219px;
    height: 219px;
    /* background-color: blue; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  #imgknittedgloves {
    background-image: url("../img/knittedgloves_large.jpg");
    width: 300px;
    height: 300px;
    /* background-color: green; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
  #imgredcabledscarf {
    background-image: url("../img/redcabledscarf_large.jpg");
    width: 300px;
    height: 300px;
    /*background-color: green; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
  #imglogcabin {
    background-image: url("../img/logcabin_large.jpg");
    width: 219px;
    height: 219px;
    /*background-color: green; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  #imgknittedgloves {
    background-image: url("../img/knittedgloves_large.jpg");
    width: 300px !important;
    height: 300px !important;
    /* background-color: red; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
  #imgredcabledscarf {
    background-image: url("../img/redcabledscarf_large.jpg");
    width: 300px;
    height: 300px;
    /* background-color: red; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
  #imglogcabin {
    background-image: url("../img/logcabin_large.jpg");
    width: 219px;
    height: 219px;
    /* background-color: red; */
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Bootstrap CSS for forms from Bootstrap link reference signin.css */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="userName"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
